{% extends "restaurant_base.html" %}
{% load bootstrap3 %}
{% block title %}Home{% endblock %}
{% block content %}
      <div class="app-title">
        <div>
          <h1><i class="fa fa-upload"></i> 上传订单文件</h1>
          <p>您可以在此上传来自Weee/Shopify的csv订单文件. 请参考: <b style="font-style: normal; color:#ECA336">网页使用教程, <a>下载订单文件教程(Weee)</a>, <a>下载订单文件教程(Shopify)</a></b></p>
        </div>
<!--        <ul class="app-breadcrumb breadcrumb">-->
<!--          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>-->
<!--          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>-->
<!--        </ul>-->
      </div>
    <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="tile bg-gray">
              <h3 class="tile-title">订单数量</h3>
              {% for order_zip in order_zips %}
                  {% if order_zip.ZipCode == None %}
                    <div>错误及自提订单:{{ order_zip.total }}单</div>
                  {% else %}
                  <div>{{ order_zip.ZipCode }}:{{ order_zip.total }}单</div>
                  {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="tile bg-gray">
              <h3 class="tile-title" style="margin-bottom: 5px">请输入每个司机负责的Zip Code送餐区域</h3>
          <h6>请使用空格或逗号分隔多个Zip Code</h6>
          <input type="text" name="timestamp" class="form-control" id="timestamp" hidden=true placeholder="{{ timestamp }}" value="{{ timestamp }}">
              {% for driver in drivers %}
                  {{ driver.driverName }} | {{ driver.driverCode }}
                  <input type="text" name="{{ driver.driverCode }}" class="form-control" id="{{ driver.driverCode }}">
              {% endfor %}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="tile bg-gray">
              <h3 class="tile-title">第三步: 确认</h3>
              {% buttons %}
            <button type="submit" class="btn btn-primary">
              确认上传
            </button>
            {% endbuttons %}
          </div>
          </div>
      </div>
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    var inputs = document.querySelectorAll( '.html_file_upload' );

    Array.prototype.forEach.call( inputs, function( input )
{
  var label    = document.querySelector( '.file_name' );

    input.addEventListener( 'change', function( e )
  {
      var fileName = '';
      if(this.files)
          fileName = e.target.value.split( '\\' ).pop();
      if( fileName )
          label.innerHTML = fileName;
      else
          label.innerHTML = '';
  });
});
    </script>
{% endblock %}