{% extends "restaurant_base.html" %}
{% load bootstrap3 %}
{% block title %}Driver Manager{% endblock %}
{% block content %}
<div class="app-title">
    <div>
        <h1><i class="fa fa-car"></i>司机管理</h1>
        <p>您可以在此预览已有司机的送餐员编号, 以及添加新司机</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 offset-3">
        <h3 style="margin: 2px">添加新司机</h3>
        <hr style="margin: 2px"/>
        <br>
        <form action="." method="post" class="form">
            {% csrf_token %}
        <div class="tile bg-gray">
            {{ driver_form.driverCode }}
            {{ driver_form.idRestaurant }}
            <div class="row">
                <div class="col-md-6">
            {{ driver_form.driverName }}</div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">
                添加
            </button>
        </div>
        </div>

        </div>

{#            {% bootstrap_form driver_form %}#}
<!--            {{ driver_form.driverName }}-->

        </form>
        <br>
        <h3 style="margin: 2px">司机列表</h3>
        <hr style="margin: 2px"/>
        <br>
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                {#                <th>ID</th>#}
                <th>司机名称</th>
                <th>司机编号</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            {% for driver in drivers %}
            <tr>
                {#                    <td>{{driver.idDriver}}</td>#}
                <td>{{driver.driverName}}</td>
                <td>{{driver.driverCode}}</td>
                <td><a href="{% url 'drivers-delete' driver.idDriver %}" class="fa fa-times custom-delete-btn" role="button" style="font-size: 1.4rem"></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}