{% extends "restaurant_base.html" %}
{% load bootstrap3 %}
{% block title %}Driver Manager{% endblock %}
{% block content %}
<div calss="col-sm-4">
    <h2>骑手管理</h2>
    <h3 style="margin: 2px">添加新骑手</h3>
    <hr style="margin: 2px"/>
    <br>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form driver_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                添加骑手
            </button>
        {% endbuttons %}
    </form>
    <br>
    <h3 style="margin: 2px">骑手列表</h3>
    <hr style="margin: 2px"/>
    <br>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
{#                <th>ID</th>#}
                <th>骑手姓名</th>
                <th>骑手代码</th>
                <th>删除</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in drivers %}
                <tr>
{#                    <td>{{driver.idDriver}}</td>#}
                    <td>{{driver.driverName}}</td>
                    <td>{{driver.driverCode}}</td>
                    <td><a href="{% url 'drivers-delete' driver.idDriver %}" class="btn btn-info" role="button">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}