{% extends "restaurant_base.html" %}
{% load static %}
{% load django_tables2 %}
{% load bootstrap3 %}
{% block title %}Order History{% endblock %}
{% block content %}
    <div class="container">
        {% block body %}
        <div class="row">
            <div>
                <h3>Orders Checklist</h3>
                {% if filter %}
                    <h3>Filter</h3>
                    <form action="" method="get" class="form form-inline">
                        {% bootstrap_form filter.form layout='inline' %}
                        {% bootstrap_button 'filter' %}
                    </form>
                {% endif %}
                <hr style="margin:10px,10px,5px,5px;"/>
                <h4>Current Total:      ${{amount}}</h3>
                <div>
                    {% render_table table %}
                </div>
                {% comment %} <hr style="margin:10px,10px,10px,10px;"/>
                <h3 style="text-align:left;"> Total:      ${{amount}}
                <h3 style="text-align:left;"> Commission(0.04&#37;): ${{commission}} {% endcomment %}
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}

