{% extends "restaurant_base.html" %}
{% block title %}打印路线{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Orders Checklist</h3>
            {% for name,orders in drivers %}
                <span>{{ name.0 }} {{ name.1 }}</span>
            <table class="table table-bordered table-hover table-striped" style="page-break-after: always;">
                <thead>
                    <tr>
                         <th>ID</th>
                        <th>地址</th>
                        <th>菜品</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td class="col-md-1">{{ order.idDisplay }}</td>
                        <td class="col-md-2">{{ order.Address }}</td>
                        <td class="col-md-3">
                            {% for meal in order.Meals %}
                                <span> {{ meal }}</span><br>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}

        </div>
    </div>
{% endblock %}