{% extends "restaurant_base.html" %}
{% load bootstrap3 %}
{% block title %}打印详细路线{% endblock %}
{% block content %}
<div class="app-title">
    <div>
        <h1><i class="fa fa-map"></i> 打印详细路线</h1>
        <p>您可以在此处预览或打印每位司机的详细路线信息</p>
    </div>
</div>

<!--    <div class="row" style="display: flex !important">-->
    <div class="row">
        <div class="col-md-12">
        {% for name,orders in error %}
            <div class="tile-table">
                <div class="table-title">{{ name.0 }}{{ name.1 }}</div>
            <table class="table table-bordered table-hover table-striped" style="page-break-after: always;">
                <thead class="w-100">
                    <tr class="row mx-0">
                        <th class="col-1">ID</th>
                        <th class="col-2">电话</th>
                        <th class="col-3">地址</th>
                        <th class="col-4">菜品</th>
                        <th class="col-2">备注</th>
                    </tr>
                </thead>
                <tbody class="w-100">
                    {% for order in orders %}
                    <tr class="row mx-0">
                        <td class="col-1">{{ order.idDisplay }}</td>
                        <td class="col-2">{{ order.Phone }}</td>
                        <td class="col-3">{{ order.Address }}</td>
                        <td class="col-4">
                            {% for meal in order.Meals %}
                                <span> {{ meal }}</span><br>
                            {% endfor %}
                        </td>
                        <td class="col-2">{{ order.Note }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            {% endfor %}
        {% for name,orders in pickup %}
            <div class="tile-table">
                <div class="table-title">{{ name.0 }} {{ name.1 }}</div>
                <table class="table table-bordered table-hover table-striped" style="page-break-after: always;">
                    <thead class="w-100">
                    <tr class="row mx-0">
                        <th class="col-1">ID</th>
                        <th class="col-2">电话</th>
                        <th class="col-3">地址</th>
                        <th class="col-4">菜品</th>
                        <th class="col-2">备注</th>
                    </tr>
                    </thead>
                    <tbody class="w-100">
                    {% for order in orders %}
                    <tr class="row mx-0">
                        <td class="col-1">{{ order.idDisplay }}</td>
                        <td class="col-2">{{ order.Phone }}</td>
                        <td class="col-3">{{ order.Address }}</td>
                        <td class="col-4">
                            {% for meal in order.Meals %}
                            <span> {{ meal }}</span><br>
                            {% endfor %}
                        </td>
                        <td class="col-2">{{ order.Note }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
            {% for name,orders in drivers %}
            <div class="tile-table">
                <div class="table-title">{{ name.0 }} | 司机编号: {{ name.1 }}</div>
                <table class="table table-bordered table-hover table-striped" style="page-break-after: always;">
                    <thead class="w-100">
                    <tr class="row mx-0">
                        <th class="col-1">ID</th>
                        <th class="col-2">电话</th>
                        <th class="col-3">地址</th>
                        <th class="col-4">菜品</th>
                        <th class="col-2">备注</th>
                    </tr>
                    </thead>
                    <tbody class="w-100">
                    {% for order in orders %}
                    <tr class="row mx-0">
                        <td class="col-1">{{ order.idDisplay }}</td>
                        <td class="col-2">{{ order.Phone }}</td>
                        <td class="col-3">{{ order.Address }}</td>
                        <td class="col-4">
                            {% for meal in order.Meals %}
                            <span> {{ meal }}</span><br>
                            {% endfor %}
                        </td>
                        <td class="col-2">{{ order.Note }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}