{% extends "restaurant_base.html" %}
{% block title %}打印路线{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h3>Orders Checklist</h3>
        {% for name,orders in error %}
               <b><span>{{ name.0 }} {{ name.1 }}</span></b>
                <br>
                    {% for order in orders %}
                        {{ order.idDisplay }}
                    {% endfor %}
                <br>
            {% endfor %}
        {% for name,orders in pickup %}
                <b><span>{{ name.0 }} {{ name.1 }}</span></b>
                <br>
                    {% for order in orders %}
                        {{ order.idDisplay }}
                    {% endfor %}
                <br>
            {% endfor %}
            {% for name,orders in drivers %}
                <b><span>{{ name.0 }} {{ name.1 }}</span></b>
                <br>
                    {% for order in orders %}
                        {{ order.idDisplay }}
                    {% endfor %}
                <br>
            {% endfor %}

        </div>
    </div>
{% endblock %}